:root {
  --primary-color: #16161a;
  --secondary-color: #242629;
  --tertiary-color: #e31836;

  --header-height: 5em;
  --header-margin: 0em;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-family: var(--dmsans);
}

body {
  background-color: var(--primary-color);
}

button {
  transition: 0.5s;
}
button:hover {
  cursor: pointer;
}

header {
  position: sticky;
  top: 0;

  width: 100%;
  height: var(--header-height);
  padding: 1em;

  background-color: var(--secondary-color);
  box-shadow: 0px 11px 20px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 999;
}
header img {
  width: 35px;
  height: 35px;
  margin-right: 0.5em;
}
header p {
  font-weight: bold;
}
header button {
  background: none;
  border-radius: 25px;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
  border: none;
}
header button:last-child {
  background-color: var(--tertiary-color);
  margin-left: 0.35em;
}
header .site-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
header .site-title:hover {
  cursor: pointer;
}
header .nav {
  display: flex;
  justify-content: space-evenly;
  gap: 3em;
}
header .nav a {
  color: var(--tertiary-color);
  text-decoration: none;
}
header .account-container {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .account-container img {
  border-radius: 50%;
}
header .account-container:hover {
  cursor: pointer;
}

/* Footer */
footer {
  width: 100%;
  padding: 4em;
}
.footer-container {
  background-color: var(--secondary-color);
  border-radius: 25px;
  padding: 6em;

  display: grid;
  grid-template-columns: 1fr 20%;
}
.footer-container div p:first-child {
  font-weight: bold;
  font-size: 2.25em;

  margin-bottom: 0.5em;
}
.footer-container div p:nth-child(2) {
  margin-bottom: 3em;
}
.footer-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-container a {
  text-decoration: none;
}
.footer-container .selected {
  color: var(--tertiary-color);
}
/* Cursor Box */
.cursor-box {
  position: fixed;

  background-color: var(--tertiary-color);
  border-radius: 15px;
  padding: 1.5em;
  line-height: 100%;
  text-align: center;
}
.cursor-box:hover {
  cursor: default;
}

/* Spinny loading */
.loading {
  display: block;
  aspect-ratio: 1/1;
  border-radius: 50%;

  animation: loading-spinn 1s linear infinite;
}
.loading-container {
  width: 100%;
}
.loading-container > .loading {
  margin-left: auto;
  margin-right: auto;
}
@keyframes loading-spinn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* User Message */
.message-container {
  max-width: 45%;
  position: fixed;
  left: 1em;
  top: 1em;

  padding: 1em;

  animation: message-in 0.75s forwards normal 1;

  z-index: 1001;
}
.message-container.success {
  background-color: rgba(50, 205, 50, 0.85);
  border: 2px solid rgb(50, 205, 50);
  border-radius: 15px;
}
.message-container.error {
  background-color: rgba(227, 24, 54, 0.85);
  border: 2px solid rgb(227, 24, 54);
  border-radius: 15px;
}
.message-container.notice {
  background-color: rgba(94, 94, 94, 0.85);
  border: 2px solid rgb(94, 94, 94);
  border-radius: 15px;
}
.message-container.success .message-heading::before {
  content: "Success";
}
.message-container.error .message-heading::before {
  content: "Error";
}
.message-container.notice .message-heading::before {
  content: "Notice";
}
.message-heading {
  width: 100%;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.85em;
}
.message-content {
  margin-bottom: 1em;
}
.message-container > button:not(button:last-child) {
  margin-right: 1em;
}
@keyframes message-in {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* SVG coloring */
.svg-white {
  filter: invert(100%) sepia(0%) saturate(6215%) hue-rotate(338deg)
    brightness(115%) contrast(100%);
}
.svg-black {
}
.svg-gray {
  filter: invert(53%) sepia(1%) saturate(2045%) hue-rotate(18deg)
    brightness(96%) contrast(85%);
}
.svg-primary {
}
.svg-secondary {
  filter: invert(14%) sepia(5%) saturate(682%) hue-rotate(177deg)
    brightness(99%) contrast(98%);
}
.svg-tertiary {
  filter: invert(17%) sepia(95%) saturate(3885%) hue-rotate(343deg)
    brightness(91%) contrast(96%);
}
